body {
    color: rgba(255, 255, 255, 0.774);
    background: rgb(17, 1, 1);
    font-family: "Crimson Pro", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #ffffff;
    margin: 20px;
    font-size: 32px;
}

section {
    background: rgb(6, 0, 10);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 180px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15;
}

.chamada {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid green;
}

.categoria h2 {
    color: royalblue;
}